<body>
  <p style="color: green"><%= notice %></p>

  <h1>Weather Locations</h1>

  <div>
    <div>
      <b><u>Your Specific Location</u></b><br>
      <i><%= @location.user_specific_location %></i>
    </div>

    <% @location.user_weather.each do |weather| %>
      <p>
        <%= weather %>
      </p>
    <% end %>
  </div>

  <div id="locations">
    <% @locations.each do |location| %>
      <div class="info">
        <%= render location %>
        <p>
          <%= link_to "Show Weather", location %>
        </p>
      </div>
    <% end %>
  </div>

  <h3><%= link_to "Add New Location", new_location_path %></h3>
</body>

<style>
  #locations {
    border: 0px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .info {
    border: 2px solid black;
    margin: 15px;
    padding: 5px;
  }

  body{
    display:flex; 
    flex-direction:column; 
    justify-content:center; 
    align-items:center;
  }
</style>
