<p style="color: green"><%= notice %></p>

<%= render @location %>

<div>
  <b><u>Specific Location</u></b><br>
  <i><%= @location.specific_location %></i>
</div>

<% @location.weather_array.each do |weather| %>
  <p>
    <%= weather %>
  </p>
<% end %>

<div>
  <%= link_to "Edit this location", edit_location_path(@location) %> |
  <%= link_to "Back to your locations", locations_path %> | 
  <%= link_to "Destroy this location", location_path(@location), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</div>
